/* header */
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}

h3 {
    text-align: center;
    padding-top: 0px;
}

.line {
    border: 0;
    height: 100px;
    background-image: url('images/hr-manasa-malipeddi.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
/* nav bar */
.nav {
    list-style: none;
    text-align: right;
    margin-right: 60px;
}
/* make list items :horizontal */
.nav li {
    display: inline;
    font-size: 25px;
}
/* delete underline */
.nav a {
    text-decoration: none;
    color: #000;
}
 /* change color when mouse hover   */
.nav a:hover {
    color: #666;
}
/* main body */
.img {
    margin: 0 auto;
}

img {
    width: 800px;
    height: 900px;
}

main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    margin: 0 auto;
}

.intro {
    text-align: center;
    font: 20px;
    font-weight: bold;
}

p {
    text-indent: 2em;
    line-height: 30px;
}

.map {
    margin: 0 auto;
}
 /* footer */
footer {
    background-color: #000;
    width: auto;
    height: 80px;
}

.footer {
    color: white;
    text-align: center;
    line-height: 80px;
}